<div
  class="tb-position--relative main current"
  ngClass.xs="xs"
  ngClass.sm="sm"
  #animRefView
>
  <div class="tb-container tb-position--relative container">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>
      <!-- 
      <h2
        [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 100 } }"
        ngClass.gt-sm="current-typo--h3-light"
        ngClass.sm="current-typo--h3-light"
        ngClass.xs="current-typo--h4"
      >
        Skills.
      </h2>
      <div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--20"></div>

      <div>
        <div>
          <div>
            <div class="col-md-12">
              <div class="skillbar">
                <h4
                  [@transitionTextEnter]="{
                    value: 'in',
                    params: { animDelay: 600 }
                  }"
                  class="current-typo--h4"
                  ngClass.sm="current-typo--h4-light"
                >
                  Data Cleaning, Python, R, SQL, JavaScript, NoSQL, MySQL, SQL
                  Server, AWS Redshift, Snowflake, BigQuery, Django, Flask,
                  Streamlit, Power BI, Tableau, Alteryx, Excel, Pandas, NumPy,
                  Scikit-learn, Matplotlib, Seaborn, TensorFlow, AWS (S3,
                  Redshift, Lambda, Glue, SageMaker), Azure Data Factory, Google
                  Cloud, Apache Airflow, OCR Tools, ETL Pipelines, Data
                  Wrangling, Data Validation Scripts, API Data Integration, Git,
                  GitHub, JIRA, Confluence, Agile/Scrum, Financial Analysis
                  (Budgeting, Forecasting, Variance, Cost-Benefit, Cash Flow),
                  Business Intelligence (KPI Development, Performance Tracking,
                  Financial Reporting), Regulatory Compliance (GAAP, SOX, IFRS,
                  IRS, Audit Readiness), Risk & Fraud Management (Fraud
                  Detection, Risk Analysis, AML/KYC), Strategic Thinking
                  (Data-Driven Decisions, Business Case Development), Process
                  Improvement (Workflow Automation, Reporting Efficiency),
                  Communication & Leadership (Data Storytelling, Stakeholder
                  Presentations, Mentoring)
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--20"></div>
      <app-my-apps></app-my-apps>
    </div>
  </div>
</div>
