<div
  class="tb-position--relative main current"
  ngClass.xs="xs"
  ngClass.sm="sm"
  #animRefView
>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <div
      [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 100 } }"
      fxLayout="row"
      fxLayoutAlign="start end"
    >
      <h4 class="section-title current-typo--h4 tb-flex--shrink-0">
        My Projects
      </h4>
      <div class="tb-width--12"></div>
      <div fxFlex="60" class="line tb-color-bg--black"></div>
      <div fxFlex class=""></div>
    </div>

    <div ngClass.gt-xs="tb-height--36" ngClass.xs="tb-height--20"></div>

    <p
      [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 500 } }"
      class="section-detail tb-color--black-54"
      ngClass.gt-sm="current-typo--body1"
      ngClass.sm="current-typo--body1"
      ngClass.xs="current-typo--body1"
    >
      A selection of projects I have worked on, ranging from financial analytics
      to predictive modeling. These projects highlight my ability to build ETL
      pipelines, design dashboards, and apply machine learning to solve
      real-world business problems.
    </p>

    <div ngClass.gt-xs="tb-height--40" ngClass.xs="tb-height--20"></div>

    <div
      fxLayout.gt-sm="row wrap"
      fxLayout.lt-md="column"
      fxLayoutAlign.gt-sm="space-between center"
      fxLayoutAlign.lt-md="start stretch"
    >
      <ng-container *ngFor="let app of _mApps">
        <app-myapp-item
          class="tw-mt-4 tw-mx-2"
          [fxFlex.gt-sm]="
            app.isFull ? 'calc( 100% - 1rem )' : 'calc( 50% - 1rem )'
          "
          fxFlex.lt-md="none"
          [data]="app"
        >
        </app-myapp-item>
      </ng-container>
    </div>
  </div>
</div>

<div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

<div
  class="tb-position--relative main current"
  ngClass.xs="xs"
  ngClass.sm="sm"
  #animRefView
>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <div
      [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 100 } }"
      fxLayout="row"
      fxLayoutAlign="start end"
    >
      <h4 class="section-title current-typo--h4 tb-flex--shrink-0">
        My Research Work
      </h4>
      <div class="tb-width--12"></div>
      <div fxFlex="60" class="line tb-color-bg--black"></div>
      <div fxFlex class=""></div>
    </div>

    <div ngClass.gt-xs="tb-height--36" ngClass.xs="tb-height--20"></div>

    <p
      [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 500 } }"
      class="section-detail tb-color--black-54"
      ngClass.gt-sm="current-typo--body1"
      ngClass.sm="current-typo--body1"
      ngClass.xs="current-typo--body1"
    >
      <a
        class=""
        href="https://www.researchgate.net/publication/380186375_Ethical_Implication_of_Artificial_Intelligence_AI_Adoption_in_Financial_Decision_Making"
        target="_blank"
        matTooltip=" tools and technologies."
      >
        <span class="tb-color--black">
          Ethical Implication of Artificial Intelligence (AI) Adoption in
          Financial Decision Making
          <p>(click here to read)</p></span
        >
      </a>
    </p>

    <div ngClass.gt-xs="tb-height--40" ngClass.xs="tb-height--20"></div>

    <div
      fxLayout.gt-sm="row wrap"
      fxLayout.lt-md="column"
      fxLayoutAlign.gt-sm="space-between center"
      fxLayoutAlign.lt-md="start stretch"
    >
      <!-- <ng-container *ngFor="let app of _mApps">
        <app-myapp-item
          class="tw-mt-4 tw-mx-2"
          [fxFlex.gt-sm]="
            app.isFull ? 'calc( 100% - 1rem )' : 'calc( 50% - 1rem )'
          "
          fxFlex.lt-md="none"
          [data]="app"
        >
        </app-myapp-item>
      </ng-container> -->
      Ethical Implications of AI in Financial Decision-Making This study
      explores the ethical challenges of integrating AI into financial systems,
      focusing on issues like algorithmic bias, transparency, accountability,
      and public trust. It proposes a comprehensive ethical framework with clear
      guidelines, governance, and regular audits to ensure responsible AI use.
      The goal is to balance innovation with fairness and integrity, supporting
      informed decision-making and ethical best practices across the financial
      sector.
    </div>
  </div>
</div>
