<div
  class="tb-position--relative main"
  ngClass.xs="xs"
  ngClass.sm="sm"
  #animRefView
>
  <div class="tb-container tb-position--relative container">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <!-- <p>home-about works!</p> -->

      <div
        [@transitionText]="{ value: _mTriggerAnim, params: { animDelay: 100 } }"
        fxLayout="row"
        fxLayoutAlign="start end"
      >
        <h4 class="title current-typo--h4 tb-flex--shrink-0">About Me.</h4>
        <div class="tb-width--12"></div>
        <div fxFlex="60" class="line tb-color-bg--black"></div>
        <div fxFlex class=""></div>
      </div>

      <div ngClass.gt-xs="tb-height--20" ngClass.xs="tb-height--12"></div>

      <div fxLayout="row" fxLayout.xs="column">
        <div
          [fxFlexOrder]="1"
          [fxFlexOrder.xs]="2"
          fxFlex
          fxFlex.xs="none"
          fxFlex.sm="70"
          fxLayout="column"
        >
          <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

          <p
            [@transitionText]="{
              value: _mTriggerAnim,
              params: { animDelay: 200 }
            }"
            class="current-typo--body1-medium tb-color--black-54"
          >
            I am a
            <span class="tb-color--black">Financial Data Analyst</span> with
            experience driving data-driven decision making across consulting,
            finance, and technology. At Deloitte, I develop
            <span class="tb-color--black"
              >SQL-driven pipelines and Power BI dashboards</span
            >
            that help clients monitor tax exposure, automate compliance
            reporting, and prepare audit-ready financials. My work integrates
            data from ERP systems, QuickBooks, and OCR pipelines to deliver
            accurate insights and reduce manual reporting efforts.
          </p>
          <div
            ngClass.gt-sm="tb-height--12"
            ngClass.sm="tb-height--8"
            ngClass.xs="tb-height--6"
          ></div>

          <p
            [@transitionText]="{
              value: _mTriggerAnim,
              params: { animDelay: 200 }
            }"
            class="current-typo--body1-medium tb-color--black-54"
          >
            Previously at Annofi Technologies, I built automated KPI reports,
            demand forecasts, and inventory analytics that improved forecast
            accuracy and cut reporting time by 70%. Earlier at Bajra
            Technologies, I optimized SQL data models in Snowflake and
            PostgreSQL, analyzed 20M+ transactions for fraud detection, and
            delivered BI dashboards that improved retention and reduced manual
            compliance reporting. Across all roles, I have specialized in SQL,
            Python, Power BI, and ETL pipelines, with a focus on financial
            reporting, compliance (GAAP/SOX/IRS), KPI tracking, and forecasting.
            What drives me is turning complex, unstructured data into clear,
            reliable insights that help businesses make faster and more
            confident decisions.
          </p>
          <div
            ngClass.gt-sm="tb-height--56"
            ngClass.sm="tb-height--46"
            ngClass.xs="tb-height--32"
          ></div>

          <div
            [@transitionText]="{
              value: _mTriggerAnim,
              params: { animDelay: 300 }
            }"
            fxLayout="row"
          >
            <div
              fxFlex
              fxLayout="column"
              fxLayoutGap="12"
              fxLayoutAlign="start start"
            >
              <h2 class="title current-typo--h3-light">06+</h2>
              <h4 class="title current-typo--h6">Years of Experience</h4>
            </div>

            <div
              fxFlex
              fxLayout="column"
              fxLayoutGap="12"
              fxLayoutAlign="start start"
            >
              <h2 class="title current-typo--h3-light">10+</h2>
              <h4 class="title current-typo--h6">Projects Completed</h4>
            </div>
          </div>

          <div
            ngClass.gt-sm="tb-height--56"
            ngClass.sm="tb-height--46"
            ngClass.xs="tb-height--32"
          ></div>

          <div
            ngClass.gt-sm="tb-height--56"
            ngClass.sm="tb-height--46"
            ngClass.xs="tb-height--32"
          ></div>

          <div
            [@transitionText]="{
              value: _mTriggerAnim,
              params: { animDelay: 600 }
            }"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="32"
          >
            <div class="btn-area-hire">
              <a
                mat-ripple
                class="unlink btn-hire tb-color-bg--white"
                fxLayout="row"
                fxLayoutAlign="center center"
                href="https://drive.google.com/file/d/12p-V-qR7FGf2c1rCocy9JnfPLRNRbqap/view?usp=sharing"
                target="_blank"
              >
                <p
                  class="current-typo--button-medium tb-font-weight--medium tb-color--black"
                >
                  Download CV.
                </p>
              </a>
            </div>
          </div>
        </div>
        <div
          fxFlex.xs="none"
          fxFlex
          [fxFlexOrder.xs]="1"
          [fxFlexOrder]="2"
          class="image-container"
          fxLayout="column"
          fxLayoutAlign="center stretch"
        >
          <div
            [@transitionImageScale]="{
              value: _mTriggerAnim,
              params: { animDelay: 800 }
            }"
            class="tb-text--align-center image-area"
            #imageAreaView
          >
            <img
              class="image rounded-image tb-position--relative"
              src="assets/img/avatar/bishal_avatar.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
